<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/main.css">
  <script defer src="/app.js"></script>
  <title>Document</title>
</head>
<body>
  <nav>
    <a href="/currentprompt">Current Prompt</a> |
    <a href="/activities">My Activity Journal</a> |
    <a href="/logout">Log Out</a> |
<<<<<<< HEAD
    <a href="/users/<%= user._id %>">Profile</a>
=======
    <a href="/users/<%= user.id %>">Profile</a>
>>>>>>> 8aa0b3405bcfc6291c5e2710cf8d4b57893faea8
  </nav>
</body>
</html>
