<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<<<<<<< HEAD
  <div class="container">
    <ul class="nav justify-content-end">
      <li>
        <img id="logo-thumbnail" src="images/logo.png"" alt="">
      </li>
      <li>
        <a class="nav-link color-1" href="/about">Sensorial</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More</a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item color-1" href="/currentprompt">Current Activity</a>
          <a class="dropdown-item color-1" href="/activities/new">New Journal Entry</a>
          <a class="dropdown-item color-1" href="/users/<%= user.id %>">Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item color-1" href="/logout">Log Out</a>
        </div>
      </li>
    </ul>
  </div>
=======
  <nav>
    <a href="/currentprompt">Current Prompt</a> |
    <a href="/activities">My Activity Journal</a> |
    <a href="/logout">Log Out</a> |
    <a href="/users/<%= user.id %>">Profile</a>
  </nav>
>>>>>>> Simone
</body>
</html>
