<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="bg-light border-right" id="sidebar-wrapper">
    <% if (user.username[user.username.length - 1] === 's') { %>
    <p class="sidebar-heading color-1"><%= user.username %>'</p>
    <% } else { %>
    <p class="sidebar-heading color-1"><%= user.username %>'s</p>
    <% } %>
    <p class="sidebar-heading color-1">Activity Journal</p>
    <div class="list-group list-group-flush">
      <% user.activities.forEach((activity) => { %>
        <a href="/activities/<%= activity._id %>" class="list-group-item list-group-item-action bg-light"><%= activity.title %></a>
      <% }) %>
    </div>
  </div>
</body>
</html>