<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>


<body>
  <div class="container pt">
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link color-1" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link color-1" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link color-1" href="/contact">Contact</a>
      </li>
      <li class="nav-item">
        <a id="sign-up" href="#!" class="nav-link color-1" data-toggle="modal" data-target="#sign-up-modal">Sign Up</a>
      </li>
      <li class="nav-item">
        <a id="login" href="#!" class="nav-link color-1" data-toggle="modal" data-target="#login-modal">Login</a>
      </li>
    </ul>
  </div>

  <!-- Sign up Modal -->
  <div class="modal fade" id="sign-up-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Sign Up</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="sign-up-modal">
            <form id="sign-up-form" action="/" method="POST">
              <div class="form-group">
                <input type="text" class="form-control" name="username" placeholder="Username">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="email" id="email" placeholder="Email">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" name="password" id="password" placeholder="Password">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="picture" placeholder="Profile Picture URL">
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <input form="sign-up-form" type="submit" value="Save" class="btn btn-warning" data-toggle="modal">
        </div>
      </div>
    </div>
  </div>

  <!-- Login Modal -->
  <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Login</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="login-modal">
            <form id="login-form" action="/currentprompt?_method=PUT" method="POST">
              <div class="form-group">
                <input type="text" class="form-control" name="username" placeholder="Username">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" name="password" id="password" placeholder="Password">
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <input form="login-form" type="submit" value="Login" class="btn btn-warning">
        </div>
      </div>
    </div>
</body>

</html>