<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Activities Journal</title>
</head>
<body>
  <h1>Activities Journal</h1>
  <h2>Hello <%=user.username%></h2>
  <ul>
    <% user.activities.forEach((activity)=>{ %>
    <li>
     <a class="nav-link color-1" href="/activities/<%= activity._id %>">
      <h3><%= user.activities.title %></h3>
    </a> 
    </li>
  <% }) %>
</ul>
</body>
</html>

