
<body>
  <h1>Activities Journal</h1>
  <h2>Hello <%=user.username%></h2>
  <ul>
  <% user.activities.forEach((activity)=> { %>
    <li>
     <a class="nav-link color-1" href="/activities/<%= activity._id %>"><%= user.activities.title %></a>
    </li>
  <% }) %>
  </ul>
</body>


