<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Prompt </title>
</head>
<body>
  <%-include ('../partials/loggedInNav')%>
  <h1>Prompt</h1>
  <h2>Hello <%=user.username%></h2>
    <ul>
    <% for (let i =0; i<activities.length; i++){ %> 
      <li >
        <a href="/activities/<%= activities[i]._id %>" >
          <%= activities[i].title %>
        </a>
        </li>
      <% } %>
    </ul>
</body>
</html>
