<body>
  <% if (user.username[user.username.length - 1] === 's') { %>
  <h1 class="mb-4"><%=user.username%>' Activity Journal</h1>
  <% } else { %>
  <h1 class="mb-4"><%=user.username%>'s Activity Journal</h1>
  <% } %>
    <% user.activities.forEach((activity)=> { %>
      <a class="nav-link color-1 mb-3" href="/activities/<%= activity._id %>"><%= activity.title %></a>
    <% }) %>
</body>
