<body>
  <h1 class="mb-4">New Activity</h1>
  <section class="NewActivityForm">
    <form action="/activities" method="POST">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="title">Title</label>
          <input type="text" class="form-control" name="title" id="title" placeholder="Title">
        </div>
        <div class="form-group col-md-6">
          <label for="note">Note</label>
          <input type="text" class="form-control" name="note" id="note" placeholder="Note">
        </div>
      </div>
      <div class="form-group">
        <label for="experienceDesc">Experience Description</label>
        <textarea class="form-control" name="experienceDesc" id="experienceDesc" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Photo</label>
        <input type="text" class="form-control" name="photo" id="photo">
      </div>
      <button type="submit" class="btn btn-warning">Save</button>
    </form>
  </section>
</body>
