<body>
  <h1>404</h1>
  <h4>Oops! Something went wrong! Here at Sensorial, we encourage mistakes, but if there was something specific you were looking for and wasn't able to find, please <a class="color-1" href="/contact">let us know!</a></h4>
</body>