<body>
  <h1>404</h1>
  <h5 class="text-center mt-5">Oops! Something went wrong! Here at Sensorial, we encourage mistakes, but if there was something specific you were looking for and wasn't able to find, please <a class="color-1" href="/contact">let us know!</a></h5>
</body>