
<body>
  <h1>About Sensorial</h1>
  <p>Sensorial was created through a collaboration of educators and parents for educators and parents with a focus on process-based art for preschool aged children. While process-based art is intended to be fairly free-form and open ended, sometimes both parents and educators need a seed of inspiration to get started! We provide prompts on a weekly basis to use as a baseline and then our members can use their imaginations from there. Members can upload as many activities to their journal as they like, whether or not it's inspired by a prompt.</p>
</body>

