<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Sensorial</title>
</head>
<body>
  <% if (user === null) { %>
    <%-include ('partials/loggedOutNav')%>
  <% } else if (user.isLoggedin === true) { %>
    <%-include ('partials/loggedInNav')%>
  <% } %>
  <h1>About Sensorial</h1>
  <% if (user === null) { %>
    <%-include ('partials/loggedOutFooter')%>
  <% } else if (user.isLoggedin === true) { %>
    <%-include ('partials/loggedInFooter')%>
  <% } %>
</body>
</html>