<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Sensorial</title>
</head>
<body>
  <% if (user.isLoggedin === true) { %>
    <%-include ('partials/loggedInNav')%>
  <% } else { %>
    <%-include ('partials/loggedOutNav')%>
  <% } %> 
  <h1>About Sensorial</h1>
</body>
</html>