
  <body>
    <h1>Sensorial</h1>
    <div id="landing-container">
    <img class="rounded mx-auto d-block" id="logo" src="images/logo.png" class="img-fluid" alt="Responsive image">
  </div>
  </body>

