<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/main.css">
  <script defer src="/app.js"></script>
  <title>Sensorial</title>
</head>
<body>
  <h1>Sensorial</h1>
  <nav>
    <a href="/about">About</a> |
    <a href="/contact">Contact</a> |
    <a href="signup">Sign Up</a> |
    <a id="login" href="">Login</a>
  </nav>
  <div hidden class="modal"></div>
</body>
</html>

