* {
  font-family: 'Mulish', sans-serif !important;
}

body {
  background-image: url('/images/Background.jpeg');
  background-size: 100%;
}

#profile-pic {
  height: 200px;
  border-radius: 50%;
}

#logo {
  width: 300px;
}